body,dl{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: #fff;
}
body{
  background: url("../img/bg.jpg") 100% 0 no-repeat;
  background-size: cover;
  color: #fff;
}
dl{
  background-color: rgba(0,0,0,.65);
  padding: 0 100px;
  height: 100vh;
  display: none;
}
dl dt{
  width: 100%;
  clear: both;
  padding-top: 20px;
}
dl dd{
  display: block;
  float: left;
  text-align: center;
  line-height: 60px;
  height: 60px;
  padding: 0 20px;
  margin: 20px;
  border: 2px solid #00c1de;
}
dl dd:hover{
  background-color: #00c1de;
}
