body,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,input{
	margin: 0;
	padding: 0;
}
body{
	font-size: 14px;
	font-family: "arial";
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #a5a5a5;
	font-family: "arial";
}
a.uline:hover{
	text-decoration: underline;
}
span{
 	display:inline-block;
}
img{
	vertical-align: middle;
}
.clear{
	clear: both;
}
.all_mid{
 	width: 1240px;
 	margin: 0 auto;
}
.mid{
	width: 990px;
	margin: 0 auto;
}
.between_mid{
	width: 1192px;
	margin: 0 auto;
}
.relate{
	position: relative;
}
.yen{
	line-height: 1em;
	font-size: .8em;
	margin-right: 10px;
}