extends ../layout_user

block content
  form.form-signin.form-register(method="post", action="/admin/users/register")
    h2.form-signin-heading 注册
      small.pull-right
        a(href="/admin/users/login") 登录
    != messages()
    label.sr-only(for="email") 用户名
    input.email.form-control(name="name", type="text", placeholder="用户名", value=name, autofocus)
    label.sr-only(for="email") 邮箱
    input.email.form-control(name="email", type="email", placeholder="邮箱", value=email)
    label.sr-only(for="password") 密码
    input#password-source.password.form-control(type="password", placeholder="密码")
    input#password-target.password.form-control.hidden(name="password", type="password", placeholder="密码")
    label.sr-only(for="password") 确认密码
    input#confirm-source.confirm.form-control(type="password", placeholder="确认密码")
    input#confirm-target.confirm.form-control.hidden(name="confirm", type="password", placeholder="确认密码")
    button#register-submit.btn.btn-lg.btn-primary.btn-block(type="submit") 注册
