extends ../layout

append css
  link(href="/components/font-awesome-4.7.0/css/font-awesome.min.css", rel="stylesheet")
  link(href="/css/user.css", rel="stylesheet")

block main
  block content

append scripts
  script(src="/components/Cookies/src/cookies.min.js")
  script(src="/js/md5.min.js")
  script(src="/js/auth.min.js")
