extends layout

block content
  form.form-signin
    h2.form-signin-heading 登录
    label.sr-only(for="email") 账号
    input.email.form-control(name="email", type="email", placeholder="Email address", required="", autofocus="")
    label.sr-only(for="password") 密码
    input.password.form-control(name="password", type="password", placeholder="Password", required="")
    div.checkbox
      label
        input(type="checkbox", value="remember-me")
        | 记住我
    button.btn.btn-lg.btn-primary.btn-block(type="submit") 登录
