extends ../layout_user

block content
  form.form-signin(method="post", action="/admin/users/login")
    h2.form-signin-heading 登录
      small.pull-right
        a(href="/admin/users/register") 注册
    != messages()
    label.sr-only(for="email") 账号
    input#email.email.form-control(name="email", type="email", value=email, placeholder="邮箱", autofocus="")
    label.sr-only(for="password") 密码
    input#password-source.password.form-control(type="password", placeholder="密码")
    input#password-target.password.form-control.hidden(name="password", type="password", placeholder="密码")
    div.checkbox
      label
        input(type="checkbox", name="remenmber" checked=remember)
        | 记住我
    button#login-submit.btn.btn-lg.btn-primary.btn-block(type="submit") 登录

block scripts
    script(src="/components/jquery/dist/jquery.js")
    script(src="/js/md5.js")
    script(src="/js/auth.js")
