/* ------------------------- 公共样式 ------------------------- */
body, ul, article, *{
  margin: 0;
  padding: 0;
}
body{
  background-color: #f8f8f8;
  color: #444;
  font-family: "Microsoft YaHei", "San-serif"
}
ul{
  list-style:none;
}
a{
  text-decoration: none;
  color: #444;
}
img{
  border: none;
}
.title_bg{
  background: url(../img/title_bg.jpg);
  height: 45px;
  line-height: 45px;
  padding-left: 10px;
}
.title_bg h2 a{
  font-size: 16px;
  display: block;
  height: 164px;
}
/* ------------------------- 头部样式 ------------------------- */
#header{
  border-top: 3px solid #1070c2;
}
.container{
  margin: 0 auto;
  width: 1000px;
}
#logo, #search{
  display: inline-block;
}
#logo img{
  width: 400px;
}
input#search_value{
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-right: none;
  height: 30px;
  line-height: 30px;
  text-indent: 5px;
  width: 140px;
  font-size: 14px;
}
input#submit{
  background-color: #125198;
  border: none;
  height: 30px;
  width: 60px;
  color: #fff;
  font-size: 14px;
}
#search{
  float: right;
  margin: 30px 100px 0;
}

/* ------------------------- nav ------------------------- */
#main_nav{
  background-color: #1070c2;
  height: 40px;
  line-height: 40px;
  margin-bottom: 15px;
}
#main_nav ul{
  display: flex;
}
#main_nav ul li{
  font-size: 14px;
  padding:0 30px ;
  border-right: 1px solid #2f89c5;

  -webkit-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -ms-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}
#main_nav ul li a{
  color: #fff;
  display: block;
}
#main_nav ul li a:hover{
  text-decoration: underline;
}
#main_nav ul li:first-of-type{
  border-left: 1px solid #2f89c5;
}
#main_nav ul li.on, nav ul li:hover{
  background-color: #125198;
}
/* ------------------------- slide ------------------------- */
#slide{
  height: 300px;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 4px 10px #222;
  margin-bottom: 20px;
}
#slide>ul{
  display: none;
  height: 450px;
  position: absolute;
  top:0;
  left: 0;
}
#slide>ul>li {
  float: left;
  height: 450px;
}

#slide>ul>li>a{
  display: block;
}
#slide>ul>li>a>img{
  width: 1000px;
}
.left-btn, .right-btn{
  width: 61px;
  height: 61px;
  position: absolute;
  top: 38%;
  right: 20px;
  background: url("../img/right-1.png");
  cursor: pointer;
}

.left-btn{
  left: 20px;
  background: url("../img/left-1.png");
}

.img-btn-list{
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 8%;
  display: flex;
}

.img-btn-list>span {
  width: 24px;
  height: 24px;
  line-height: 18px;
  text-align: center;
  border-radius: 24px;
  box-sizing: border-box;
  margin: 0 5px;
  background: rgba(0,0,0,0.7);
  background-clip: padding-box;
  border: 3px solid rgba(0,0,0,0.7);
  cursor: pointer;
  color: #fff;
}

.img-btn-list>span.current{
  color: #222;
  background: rgba(255,255,255,0.7);
}

/* ------------------------- body article ------------------------- */
#body{
  display: flex;
}
#body article{
  width: 628px;
}
/* ---------- news ---------- */
#newslist ul li{
  display: flex;
  margin-bottom: 15px;
}
#newslist ul li a.pic{
  width: 315px;
}
#newslist ul li a img{
  width: 315px;
  height: 164px;
}
#newslist ul li a.words{
  width: 300px;
  padding: 12px;
  background: rgb(53, 152, 220);
  position: relative;
  height: 140px;
  color: #fff;
}
#newslist ul li a.words h3{
  padding-bottom: 6px;
  margin-bottom: 6px;
  border-bottom: 1px solid #fff;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
#newslist ul li a.words p{
  height: 102px;
  text-indent: 2em;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}
#newslist ul li a.words:before{
  content: " ";
  height: 30px;
  width: 30px;
  background-color: rgb(53, 152, 220);
  display: block;
  position: absolute;
  top: 15px;
  left: -15px;
  z-index: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ---------- activities ---------- */
#active1 ul{
  display: flex;
}
#active1 ul li{
  margin: 10px 9px 10px 0;
}
#active1 ul li:last-child{
  margin-right: 0;
}
#active1 ul li img{
  height: 150px;
  width: 150px;
}

#active2{
  widht: 470px;
}
#active2 li, #blog2 li, #rec li, #toplist li, #clicklist li{
  white-space: nowrap;
  overflow: hidden;
  vertical-align: bottom;
  text-overflow: ellipsis;
  counter-increment: list_num;
  margin-top: 8px;

  -webkit-transition: text-shadow .2s linear;
  -moz-transition: text-shadow .2s linear;
  -ms-transition: text-shadow .2s linear;
  -o-transition: text-shadow .2s linear;
  transition: text-shadow .2s linear;
}
#active2 li:before, #blog2 li:before, #rec li:before, #toplist li:before, #clicklist li:before{
  content: counter(list_num);
  display: inline-block;
  width: 21px;
  height: 21px;
  line-height: 21px;
  box-sizing: border-box;;
  text-align: center;
  color: #fff;
  margin-right: 4px;
  background-color: #444;
}
#active2 li:nth-of-type(-n+3):before, #toplist li:nth-of-type(-n+3):before, #clicklist li:nth-of-type(-n+3):before{
  background-color: #3598DC;
}
#active2 li:hover, #blog2 li:hover, #rec li:hover, #toplist li:hover, #clicklist li:before{
  text-shadow: 1px 1px 6px #999;
}
#active3{
  width: 150px;
  float: right;
}
#active3 li:last-of-type{
  margin-top: 10px;
}
#active3 li:first-child, #active3 li:first-child img{
  width: 150px;
  height: 150px;
}
#active3 li:last-child, #active3 li:last-child img{
  width: 150px;
  height: 150px;
}
/* ------------------------- body aside ------------------------- */
/* ---------- blogs ---------- */
#body aside{
  width: 352px;
  margin-left: 20px;
}

#blog1 ul{
  display: flex;
}
#blog1 ul li{
  width: 172px;
  height: 136px;
  text-align: center;
  margin-top: 10px;
}
#blog1 ul li a{
  height: 15px;
  font-size: 12px;
  overflow: hidden;
}
#blog1 ul li img{
  width: 172px;
  height: 111px;
}
#blog1 ul li:first-of-type{
  margin-right: 8px;
}

#blog2 li, #rec li{
  font-size: 0.8em;
}
#blog2 li:before, #rec li:before{
  background-color: #3598DC;
}
/* ---------- rec ---------- */
#rec, #contact, #sub-cop{
  margin-top: 15px;
}
#contact img{
  widht: 352px;
  height: 199px;
}
/* ---------- sub-cop ---------- */
#sub-cop li{
  margin-bottom: 8px;
}
#sub-cop li h4{
  height: 28px;
  line-height: 28px;
  font-size: 16px;
}
#sub-cop li a{
  display: inline-block;
}
#sub-cop li .intro{
  display: flex;
  font-size: 0.8em;
  height: 54px;
  border: 1px solid transparent;
  -webkit-transition: padding .2s linear, border-color .2s linear;
  -moz-transition: padding .2s linear;
  -ms-transition: padding .2s linear;
  -o-transition: padding .2s linear;
  transition: padding .2s linear;
}
#sub-cop li .intro:hover{
  padding: 10px 0;
  border-color: #3598db;
}
#sub-cop li .intro img{
  width: 177px;
  height: 54px;
}
#sub-cop li .intro a:last-of-type{
  overflow: hidden;
  text-overflow: ellipsis;
  height: 54px;
}

/* ------------------------- footer ------------------------- */
footer{
  background-color: #1070c2;
  height: 320px;
}
footer a{
  color: #fff;
}
#hr{
  height: 3px;
  width: 100%;
  background-color: #6cc210;
  margin: 40px 0 5px;
}
#footer_items{
  display: flex;
  height: 285px;
}
#footer_items section{
  padding: 0 20px 0 30px;
  margin: 50px 0;
  border-right: 1px dashed #fff;
  color: #fff;
  width: 250px;
}
#footer_items section:last-of-type{
  border: none;
}
#footer_items h3{
  color: #fff;
  margin-bottom: 20px;
}
#footer_items li{
  margin: 8px 0;
  font-size: 14px;
}

#copyright{
  text-align: center;
  color: #fff;
  font-size: 12px;
}











