a.default{
  color: blue;
  text-decoration: underline;
}
/* ------------------------- body ------------------------- */
/* -------- pic_list --------- */

#body article header h2{
  color: #444;
  font-size: 16px;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#news_items li{
  margin-top: 5px;
  font-size: 14px;

  -webkit-transition: text-shadow .2s linear;
  -moz-transition: text-shadow .2s linear;
  -ms-transition: text-shadow .2s linear;
  -o-transition: text-shadow .2s linear;
  transition: text-shadow .2s linear;
}
#news_items a{
  width: 550px;
  display: inline-block;
  white-space: nowrap;
}
#news_items li:first-of-type{
  margin-top: 20px;
}

#news_items li:nth-of-type(5n){
  margin-bottom: 20px;
}
#news_items li:hover{
  text-shadow: 1px 1px 6px #999;
}
/* -------- page_num --------- */

#page_num{
  width: 150px;
  margin: 40px auto 10px;
}
#page_num ul{
  display: flex;
}
#page_num ul li{
  text-align: center;
  margin-right: 4px;
}

#page_num ul li a{
  display: block;
  color: #fff;
  width: 21px;
  height: 21px;
  line-height: 21px;
  box-sizing: border-box;
  background-color: #3598DC;

  -webkit-transition: background-color .2s linear;
  -moz-transition: background-color .2s linear;
  -ms-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
}
#page_num ul li.on a, #page_num ul li:hover a{
  background-color: #69638C;
}
#page_num ul li:nth-of-type(5):hover{
  background-color: #fff;
}
#page_num ul li:last-child a{
  width: 60px;
  font-size: 14px;
}

/* ------------------------- body ------------------------- */
#toplist h3, #clicklist h3{
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 6px;
}
aside ul{
  margin-bottom: 15px;
  font-size: 14px;
}

/* ------------------------- news_content ------------------------- */
#new_header{
  margin-bottom: 15px;
}
#new_header h1{
  font-size: 24px;
  margin: 15px 0;
}
#new_header .news_bar{
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
#new_header .news_bar a:first-of-type{
  margin-left: 1.5em;
}
#new_header .news_bar time{
  padding: 0 10px;
}
#new_header .news_bar img{
  width: 20px;
  heidht: 20px;
  margin-right: 8px;
  vertical-align: middle;

}

/* ----------------------------- 文本格式 ---------------------------- */
#news_content section{
  font-weight: bold;
  font-size: 16px;
  height: 80px;
  line-height: 80px;
  text-align: center;
}
#news_content h1{
  font-size: 16px;
  font-weight: bold;
  margin: 30px 0 15px;
}
#news_content h2{
  font-size: 13.8px;
  font-weight: bold;
  margin: 30px 0 15px;
}
#news_content .center{
  text-align: center;
}
#news_content img{
  display: block;
  width: 550px;
  margin: 10px auto;
}
#news_content p{
  text-indent: 2em;
  margin: 5px 0;
  line-height: 25px;
}

/* ----------------------------- 相关阅读 ---------------------------- */

#related h5{
  margin: 30px 20px 15px;
}
#related ul li{
  margin: 5px 0 0 20px;
  font-size: 12.8px;
}















