#title{
	height: 60px;
	background-color: #f9f9f9;
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 40px;
}
#title span{
	display: block;
	float: left;
}
#title img.logo{
	width: 190px;
	height: 20px;
	margin: 20px 50px 0 0;
}
#title ul{
	float:left;
}
#title ul li{
	padding-right: 30px;
	float: left;
	font-size: 18px;
	line-height: 60px;
	color: #666666;
	font-size: 17px;

}
#title #search{
	margin: 20px 20px;
	position: relative;
	height: 20px;
	float: left;
	width: 150px;
}
#title input[type=search]{
	width: 150px;
	height: 20px;
	border-radius: 10px;
	border: 1px solid #a2a2a2;
	outline: none;
	text-indent: 25px;
}
#title input[type=submit]{
	display: none;
}
#title #search{
	position: relative;
	height: 20px;
	float: left;
	width: 150px;
}
#title span.search{
	position: absolute;
	top: 0px;
	left: 57px;
}
#search img{
	width: 15px;
	height: 15px;
}

.main{
	height: 610px;
	width: 950px;
	margin: 0 auto 45px;
}
.main .main_left{
	width: 418px;
	margin-right: 20px;
	float: left;
}
.main .main_pic{
	height: 418px;
	width: 418px;
	border: 1px solid #e8e8e8;
	position: relative;
}
.main .main_pic>img{
	height: 418px;
	width: 418px;
}
.main .main_pic span:last-child{
	height: 25px;
	width: 25px;
	position: absolute;
	bottom: 2px;
	right: 2px;
}
.main .main_pic span:last-child img{
	height: 25px;
	width: 25px;
}
.main .choose{
	height: 120;
	margin: 25px 21px;
}
.main .choose span{
	height: 60px;
	width: 60px;
}
.main .choose span:hover{
	outline: 2px solid #c20712;
}
.main .choose span.selected{
	outline: 2px solid #c20712;
}
.main .choose span:not(:last-child){
	margin-right: 15px;
}
.main .choose span img{
	height: 60px;
	width: 60px;
}
.main .main_left .share img{
	width: 12px;
	height: 12px;
	margin: 3px;
}
.main .main_left .share a{
	font-size: 12px;
}
.main .main_left .share li{
	float: left;
	margin: 5px 5px 0 10px;
}
.main .main_left .share li:last-child{
	float:right;
}
.main .main_left .share li:last-child a:hover{
	text-decoration: underline;
}

.main_right{
	width: 511px;
	float: left;
}
.main_right .f_obj_name{
	font-weight: bold;
	font-size: 16px;
	margin: 0 0 10px 15px;
}
.main_right .row{
	box-sizing: border-box;
	margin: 5px 0;
	padding: 5px 0 5px 10px;
	width: 510px;
	height: 40px;
}
.main_right .row>span{
	display: block;
	float: left;
	line-height: 30px;
	font-size: 12px;
}
.main_right .row_name{
	width: 75px;
	color: #666666;
}
.main_right .row_word{
	width: 400px;
	color: #000;
}
.main_right .f_main_price .row_word{
	font-size: 26px;
	color: #c20712;
	font-weight: bold;
}
.main_right .row:nth-child(5){
	border-top: dotted 1px #c20712;
	border-bottom: dotted 1px #c20712;
	padding: 12px 0 12px 10px;
}
.main_right .f_score .row_name{
	width: 249px;
	line-height: 16px;
	text-align: center;
}
.f_score .row_name:first-child{
	border-right: dotted 1px #c20712;
}
.f_score .row_name span{
	font-weight: bold;
	padding: 0 5px;
	color: #c20712;
}
.main_right .f_main_price{
	background: url(../img/detail/bg_price.png) repeat-y;
}
.main_right .row:nth-child(6){
	height: 45px;
}
.main_right .row:nth-child(7){
	height: 35px;
}
.main_right .row:nth-child(8){
	height: 35px;
}
.main_right .row:nth-child(9){
	height: 175px;
}
.main_right input[type=checkbox]{
	display: none;
}

.f_zip select{
	border: none;
}

.f_zip select:focus{
	outline: none;
}

.row_word label{
	display: block;
}
.row_word li{
	position: relative;
}
.row_word li.radio{
	float: left;
	margin-right: 8px;
	border: 1px solid #e8e8e8;
}
.row_word li.radio:hover{
	outline: solid 1px #c20712;
	border-color: #c20712;
}
.row_word li.selected{
	outline: solid 1px #c20712;
	border-color: #c20712;
}
.row_word li.selected:after{
	content: url(../img/detail/select.png);
	display: block;
	position: absolute;
	height: 10px;
	bottom: 8px;
	right: -1px;
}
.f_pay li.selected:after{
	bottom: -6px;
}
.f_color .row_word li img{
	width: 40px;
	height: 40px;
}
.f_suit .row_word li label{
	padding: 0px 8px;
}

.f_number input[type=number]{
	height: 25px;
	width: 50px;
	text-align: center;
}

.f_pay .row_name img{
	width: 50px;
	padding-left:;
	margin-top: -20px;
}
.f_pay .pic{
	height: 30px;
	width: 170px;
	display: block;
	widht: 200px;
	font-size: 14px;
	color: #fff;
	padding: 0 8px;
	background-color: #c20712;
}
.f_pay .pic img{
	height: 25px;
	width: 25px;
	margin-top: -3px;
	margin-right: 8px
}
.f_pay .ques{
	color: #6a88d8;
}
.f_pay .row_word li.selected:after{
	bottom: 2px;
}
.f_pay .ques img{
	width: 16px;
	height: 16px;
	margin-right: 3px;
}
.f_pay ul{
	width: 420px;
}
.f_pay li label{
	padding:3px 10px;
}
.f_pay li{
	line-height: 18px;
	text-align: center;
	float: left;
	/*border: 1px solid #a2a2a2;*/
	margin: 0 8px 8px 0;
}
.f_btn{
	padding-left: 85px !important;
}
#buynow, #putintocart{
	width: 180px;
	height: 40px;
	margin-right: 15px;
	border: 1px solid #c20712;
	background-color: #ffeded;
	text-align: center;
	line-height: 40px;
	color: #c20712;
	font-size: 16px;
	float: left;
}
#putintocart{
	color: #fff;
	background-color: #c20712;
}
#putintocart img{
	width: 16px;
	height: 16px;
	margin: 0 4px 0 0;
}

#detail aside{
	width: 190px;
	margin-right: 10px;
	border: 1px solid #e8e8e8;
	float: left;
}
#detail .asi_top{
	height: 22px;
	padding-left: 8px;
	background-color: #e8e8e8;
	font-size: 12.8px;
	line-height: 22px;
}
#detail aside img{
	width: 190px;
	margin: 5px 0 5px;
	display: block;

}
#detail li{
	margin: 0 0 10px 14px;
}
#detail li a{
	color: black;
}
#detail_main{
	width: 786px;
	float: left;
	height: 4400px;
}
#tab_part{
	border: 1px solid #e8e8e8;
	height: 50px;
}
#tab_part .tab{
	height: 50px;
	float: left;
	border: 1px solid transparent;
	border-top: 2px solid transparent;
	border-bottom:none;
	margin: -1px 0 0 -1px;
}
#tab_part .tab span{
	width: 90px;
	height: 15px;
	font-size: 13px;
	margin: 17px 0;
	text-align: center;
	border-right: dotted 1px #000;
}
#tab_part .selected{
	border-color: #a2a2a2;
	border-top-color: #c20712;
}
#tab_part .selected span{
	border: none;
}
.tab_detail {
	display: none;
}
.selected_detail{
	display: block;
}
.tab_detail .info{
	font-size: 12px;
	line-height: 20px;
	height: 20px;
	padding: 15px 20px;
	border: 1px solid #e8e8e8;
	margin-bottom: 15px;
}
.tab_detail .info span{
	margin-left: 4px;
	color: #3557a8;
}
.tab_detail .info img{
	height: 20px;
	padding-left: 12px;
}
.tab_detail img.whole{
	width: 786px;
	display: block;
	margin-bottom: 5px;
}

#mouse_move{
	width: 209px;
	background: url(../img/detail/bg_mask.png);
	height: 209px;
	position: absolute;
	left: 0;
	top: -419px;
	display:none;
}
#to_big{
	position: relative;
}
#show_big{
	width: 418px;
	height: 418px;
	position: absolute;
	left: 430px;
	top: -420px;
	overflow: hidden;
	z-index: 2;
	border: 1px solid #e8e8e8;
	display:none;
}
#show_big img{
	widht: 836px;
	height: 836px;
}










