.ad_bar {
  width: 100%;
  height: 80px;
  background-size: 1280px 80px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}
.ad_bar a{
  display: block;
  width: 100%;
  height: 80px;
}
.ad_bar:first-child{
  background-image: url(../img/ad_bar0.png);
  background-color: #fc6942;
}
.ad_bar:nth-child(9){
  background-image: url(../img/ad_bar1.png);
  margin-bottom: 30px;
}
.ad_bar:nth-child(11){
  background-image: url(../img/ad_bar2.png);
  margin-bottom: 30px;
}
.ad_bar:nth-child(13){
  background-image: url(../img/ad_bar4.png);
  margin-bottom: 30px;
}

#search{
  height: 130px;
  background-color: #fff;
 }
 #search span{
  margin-left: -50px;
 }
#s_bar{
  display: inline-block;
  margin-left: 100px;
 }
#s_bar input[type="text"], #top_search input[type="text"]{
  height: 36px;
  border: 2px #c40000 solid;
  text-indent: 6px;
  width: 495px;
  margin-top: -3px;
}
#s_bar input[type="text"]:focus, #top_search input[type="text"]:focus{
  outline: none;
}
#s_bar input[type="button"], #top_search input[type="button"]{
  width: 130px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 5px;
  height: 36px;
  background-color: #c40000;
  border: 2px #c40000 solid;
  margin-left: -4px;
  box-sizing: content-box;
  vertical-align: bottom;
}
#s_bar input[type="button"]:focus, #top_search input[type="button"]{
  outline-color: #0e6ce7;
}
#search ul{
  margin-top:6px;
}
#search li{
  float: left;
  padding: 0 11px;
  height: 14px;
  line-height: 14px;
  border-left: 1px #a5a5a5 solid;
}
#search ul li:nth-child(2n) a{
  color: #db2a2f;
}
#search li:first-child{
  padding-left: 0;
  border: none;
}

nav, nav ul{
  height: 36px;
  background-color: #dd2727;
}
nav li{
  height: 100%;
  float: left;
  font-size: 16px;
  color: white;
  line-height: 36px;
  margin-right: 30px;
  position:relative;
}
nav li:first-child{
  width: 200px;
  background-color: #c60a0a;
}
nav li a{
  color: white;
  font-size: 16px;
  position: relative;
  z-index: 1;
}
nav li img{
  width:85px;
  height: 16px;
}
#nav_pic{
  width: 21px;
  height: 20px;
  padding:0 10px 0 10px;
  margin-left: 10px;
}
nav .hover{
  width: 45px;
  height: 13px;
  position: absolute;
  margin-top: 0px;
  left: 50%;
  transform: translateX(-50%);
}
#banner{
  height: 500px;
}
#banner .ban_info{
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: 1000px 500px;
  background-position: center;
  position: relative;
  display: none;
}
#banner .ban_info:first-child{
  background-image: url(../img/ban1.png);
  background-color: #ee603b;
}
#banner .ban_info:nth-child(2){
  background-image: url(../img/ban2.png);
  background-color: #1fc29d;
}
#banner .ban_info:nth-child(3){
  background-image: url(../img/ban3.png);
  background-color: #e658a2;
}
#banner .ban_info:nth-child(4){
  background-image: url(../img/ban4.png);
  background-color: #e8e8e8;
}
#banner .ban_info:nth-child(5){
  background-image: url(../img/ban5.png);
  background-color: #e8e8e8;
}
#banner .ban_info:nth-child(6){
  background-image: url(../img/ban6.png);
  background-color: #d43c49;
}
#banner .now{
  display: block;
}
#ban_circle{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  z-index:2;
}
#ban_circle span{
  height: 14px;
  width: 14px;
  background-color: rgba(0,0,0,.5);
  border-radius: 11px;
  border: 3px solid rgba(0,0,0,.1);
  margin: 0 5px;
}
#ban_circle .checked{
  background-color: #fff;
  border-color: rgba(0,0,0,.7);
}
.ban_content .change{
  height: inherit;
  width: 220px;
  margin-top:10px;
  background-color: rgba(255,255,255,.75);
  height: 235px;
  position: absolute;
  left: 890px;
  z-index: 2;
}
.ban_content .change:last-child{
  margin-top: 255px;
}
.ban_content .change:hover {
  background-color: rgba(255,255,255,1);
}
.ban_content .change h2{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}
.ban_content .change h3{
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  margin: 2px 0 10px;
}
.ban_content .change img{
  display:inline-block;
  position:absolute;
  height: 140px;
  width: 175px;
  left: 50%;
  transform: translateX(-50%);
  margin:5px auto 0;
}

.aside{
  margin-top: -500px;
  height: 500px;
  position:relative;
  z-index: 1;
}
#asi_left{
  height: 500px;
  width: 200px;
  float: left;
  background-color: rgba(255,255,255,.8);
}
#asi_left li,#asi_left li a{
  color: black;
}
#asi_left li{
  height: 31.25px;
  line-height: 31.25px;
  padding-left: 8px;
  font-size: 12.8px;
}
#asi_left li img{
  height: 18px;
  width: 18px;
  margin: 0 6px;
}
#asi_left li:hover{
  background-color: #fff;
}
#asi_right{
  height: 480px;
  width: 100px;
  margin-top:10px;
  background-color: rgba(0,0,0,.6);
  float: left;
  margin-left: 920px;
}
#asi_right,#asi_right a{
  color: #ddd;
  font-size: 12px;
  text-align: center;
}
#user_pro{
  margin: 10px 14px 5px;
  width: 72px;
  height: 72px;
}
#asi_right ul[fir]{
  width: 80px;
  margin:0 auto;
  border-bottom: 2px dashed #dd2727;
}
#asi_right ul[fir] li{
  margin: 5px 0;
  height: 21px;
  line-height: 21px;
}
#asi_right ul[fir] li:nth-child(2){
  background-color: #dd2727;
  border: 1px solid #dd2727;
  border-radius: 15px;
}
#asi_right ul[sec]{
  margin-top: 20px;
}
#asi_right ul[sec] li{
  height: 23px;
  line-height: 23px;
}
#asi_right ul[sec] li img{
  height: 18px;
  width: 16px;
  margin-right: 2px;
}
#asi_right ul[sec] li:last-child{
  margin: 1em 0 2em;
}
#asi_right h4{
  line-height: 2em;
  background-color: rgba(0,0,0,.4);
}
#asi_right img[ad]{
  width: 58px;
  height: 58px;
  margin: 10px 21px;
}
#asi_right span a{
  line-height: 1.9em;
}

/*视频品牌部分*/
#movie_brand{
  height: 435px;
  margin-top: 60px;
  margin-bottom: 30px;
}
#movie{
  width: 488px;
  height: 435px;
  float:left;background-color: #000;
}
#movie #mov_main{
  width: 488px;
  /*height: 280px;*/
  height: 488px;
  color: white;
}
#movie #mov_main video{
  width: 488px;
}
#brands{
  width: 726px;
  height: 436px;
  float: left;
  background: url(../img/brands.png) no-repeat -12px 0;
  font-size: 12px;
}
#brands span{
  display: block;
  color: #d2d2d2;
}
#brands .brand{
  display: block;
  height: 78px;
  padding-top: 30px;
  background-color: rgba(0,0,0,.7);
  position:relative;
  display: none;
}
#brands .br_event{
  width: 120px;
  height: 108px;
  margin:0 1px 1px 0;
  float: left;
}
#brands .brand .br_img{
  position: absolute;
  top: 5px;
  right: 5px;
}
#brands img{
  height: 10px;
  width: 12px;
}
#brands .br_words{
  text-align: center;
  padding: 2px 0;
}
#brands .br_btn{
  background-color: #db2a2f;
  border:1px solid transparent;
  height: 20px;
  width: 50px;
  padding: 0 4px;
  line-height: 20px;
  border-radius: 10px;
  margin:2px auto;
}
#flag{
  height: 480px;
  margin-bottom: 20px;
}
#flag .fl_block{
  width: 235px;
  height: 480px;
  float: left;
  text-align: center;
  background-color: #fff;
  margin: 0 10px 10px 0;
}
#flag .fl_top{
  height: 36px;
  line-height: 36px;
  background-color: #db2a2f;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}
#flag .fl_top img{
  height: 20px;
  margin-top: -3px;
}
#flag .fl_main{
  height: 220px;
  width: 200px;
  margin: 0 auto;
  overflow: hidden;
  border-bottom: 1px solid #e8e8e8;
}
#flag .fl_main:last-child{
  border-bottom: none;
}
#flag .fl_main h1{
  margin: 15px auto 0;
  font-size: 22px;
  font-weight: normal;
}
#flag .fl_main h2{
  margin: 2px auto 0;
  font-size: 14px;
  color: #a2a2a2;
  font-weight: normal;
}
#flag .fl_main span{
  background-color: #f5f5f5;
  height: 138px;
  width: 138px;
  margin: 8px 0;
  border-radius: 69px;
}
#flag .fl_main img{
  width:130px;
  height:138px;
  transition: 0.6s ease-in-out;
}
#flag .fl_main img:hover{
  transform: scale(1.1, 1.1);
}
/*分类*/
.kinds{
  height: 470px;
  margin-bottom: 30px;
}
.kinds .kind_top{
  height: 30px;
}
.kinds .kind_top .kind_t_left{
  float: left;
  font-size: 18px;
  line-height: 20px;
  padding-left: 5px;
  border-left: 4px solid #67c13e;
}
.kinds .kind_top .kind_t_left span{
  font-size: 14px;
}
.kinds .kind_top .kind_t_right{
  float: right;
  width: 770px;
}
.kind_t_right a{
  color: #000;
}
.kind_t_right a:hover{
  text-decoration: underline;
}
.kind_t_right ul li{
  float: left;
  font-size: 14px;
  line-height: 20px;
  padding: 0 13px;
}
.kinds .kind_main{
  height: 450px;
  clear:both;
}
.kind_m_left{
  float: left;
  position: relative;
}
.kind_m_left span{
  display: block;
}
.kind_m_left .kind_img img{
  height: 330px;
  width: 230px;
}
.kind_m_left .kind_bar{
  position: absolute;
  top: 300px;
  left: 0;
  height: 30px;
  width: 230px;
  text-align: center;
  line-height: 30px;
  background-color: rgba(255,255,255,.7);
}
.kind_m_left .kind_prue{
  background-color: #67c13e;
  height: 90px;
  position: relative;
  color: #fff;
  padding-top: 21px;
}
.kind_m_left .kind_prue h1{
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  padding: 15px auto 2px;
}
.kind_m_left .kind_prue h3{
  font-size: 16px;
  text-align: center;
  margin: 2px auto;
  font-weight: normal;
}
.kind_m_left .kind_prue span{
  position: absolute;
  left: 45px;
  bottom: 0;
}
.kind_m_left .kind_prue img{
  width: 140px;
}
.kind_m_right{
  width: 986px;
  float: left;
}
.kind_m_right a:hover{
  height: 195px;
  cursor: default;
}
.kind_m_right div{
  padding: 25px 0 0 25px;
  background-color: #fff;
  border-right: 1.5px solid #f5f5f5;
  border-bottom: 1.5px solid #f5f5f5;
  position: relative;
  width: 220px;
  height: 195px;
  float: left;
}
.kind_m_right div.small{
  height: 122px;
}
.kind_m_right div.small .kind_obj{
  padding:0 2px 2px 0;
}
.kind_m_right div.small .kind_obj img{
  width: 95px;
  height: 95px;
}
.kind_m_right div h1{
  font-weight: normal;
  font-size: 18px;
  color: #000;
}
.kind_m_right div h3{
  font-weight: normal;
  color: #67c13e;
  font-size: 15px;
}
.kind_m_right div .kind_logo{
  position: absolute;
  left: 30px;
  bottom: 30px;
}
.kind_m_right div .kind_logo img{
  width: 40px;
  height: 20px;
}
.kind_m_right div .kind_obj{
  padding:0 5px 5px 0;
  position: absolute;
  right: 0;
  bottom: 0;
}
.kind_m_right div .kind_obj img{
  width: 140px;
  height: 130px;
}
.kind_m_right{
  float: left;
}
.k_moveup{
  margin-top: -75px;
}

/*品牌旗舰店*/
#shop{
  height: 710px;
  margin-bottom: 10px
}
#sh_caption{
  font-size: 18px;
  line-height: 20px;
  height: 20px;
  padding-left: 6px;
  margin-bottom: 6px;
}
#sh_caption span{
  font-size: 16px;
}
#shop .shop{
  border: 1px solid #f5f5f5;
  height: 340px;
  width: 605px;
  background-color: #fff;
  float: left;
}
#shop .shop:hover{
  border-color: #db2a2f;
}
#shop .sh_top span{
  display: block;

}
#shop .sh_top .sh_logo{
  margin: 15px 10px;
  float: left;
}
#shop .sh_top .sh_logo img{
  width: 105px;
  height: 30px;
}
#shop .sh_top .sh_title{
  margin: 15px 0;
  float: left;
}
#shop .sh_top .sh_name{
  display: block;
  margin-bottom: 1px;
}
#shop .sh_top .sh_name a{
  font-size: 14px;
  color: #000;
}
#shop .sh_top .sh_fans{
  color: #a2a2a2;
  font-size: 14px;
}
#shop a{
  display: block;
}
#shop a.sh_go{
  float: right;
  margin: 15px 10px;
  height: 30px;
  width: 80px;
  line-height: 30px;
  text-align: center;
  background-color: #f5f5f5;
}
.shop .sh_main{
  clear: both;
}
.shop .sh_main a{
  display: block;
  float: left;
  width: 188px;
  margin-left: 10px;
}
.shop .sh_main .sh_obj img{
  width: 188px;
  height: 188px;
}
.shop .sh_main p{
  font-size: 11.8px;
  color: black;
  margin: 6px 0 18px;
  height: 24px;
}
.shop .sh_main span{
  color: #db2a2f;
  font-size: 16px;
  font-weight: bold;
}

/*猜你喜欢*/
#like{
  height: 680px;
}
#like_cap{
  width: 500px;
  height: 0;
  margin: 50px auto 30px;
  text-align: center;
  position: relative;
}
#like_cap hr{
  width: 240px;
}
#like_cap span{
  position: absolute;
  color: #666666;
  width: 160px;
  text-align: center;
  background-color: #f5f5f5;
  font-size: 20px;
  top: -15px;
  left: 170px;
}
#like_cap span img{
  height: 20px;
  widhth: 20px;
  padding-right: 10px
}

#like .like_one{
  float: left;
  width: 236px;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  margin: 0 8px 10px 0;
}
#like .like_one:hover{
  border-color: #db2a2f;
}
#like .like_obj{
  width: 230px;
  margin: 2px auto;
}
#like .like_obj img{
  width: 230px;
  height: 230px;
}
#like .like_one p{
  font-size: 13px;
  width: 220px;
  line-height: 18px;
  height: 38px;
  color: #666666;
  margin: 11px 10px 8px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#like .like_one span{
  color: #db2a2f;
  font-size: 16px;
  margin:0 10px 10px;
}
#end{
  text-align: center;
  line-height: 100px;
}
#end img{
  width: 65px;
  height: 40px;
}

#top_search{
  position: fixed;
  top: -50px;
  height: 50px;
  width: 100%;
  background-color: #dd2727;
  z-index: 5;
}
#top_search form{
  display: inline-block;
}
#top_search img{
  height: 50px;
  margin-right: 150px;
}
#top_search input{
  margin-top: 5px;
  height: 40px;
}





