header{
	height: 28px;
	background-color: #f2f2f2;
	border-bottom: 1px solid #d5d5d5;
}
header span{
	font-weight: bold;
	color: #f80;
	padding:0 2px;
}
header img{
	padding-right: 3px;
}
.h_left{
	float: left;
	width: 250px;
}
.h_right{
	float: right;
	width: 610px;
	margin-right: 0px;
}
header ul.h_top li{
	float: left;
	padding:0 8px;
	margin: 0 1px;
	text-align: center;
	line-height: 28px;
	font-size: 12px;
	color: #a5a5a5;
}
header ul.h_top li:nth-child(5){
	padding-left: 0;
}
header ul.h_top li:nth-child(5):before{
	content:" ";
	border-left:1px #a5a5a5 solid; 
	padding-right: 12px;
}
header ul.h_top li:last-child{
	margin-right: 0;
}
header a:hover{
	color: #e00;
}
.arrow{
	border: 1px transparent solid;
	border-top: none;
	padding-right: 9px;
}
.arrow:after{
	content: "";
	position: relative;
	display: inline-block;
	margin-left:4px;
	height: 0;
	width: 0;
	border: 3px solid transparent;
	border-top-color: #a5a5a5;
}
.harrow{
	background-color: #fff;
	border-bottom-color: white;
	border-left-color: #c5c5c5;
	border-right-color: #c5c5c5;
}
header li.harrow:after{
	border-top-color: transparent;
	top: -3px;
	border-bottom-color: #e00;
}
header .down{
	position:absolute;
	padding: 8px 0;
	top: 29px;
	color: #5e5e5e;
	font-size: 11px;
	z-index: 3;
	display:none;
	background-color: #fff;
	border: 1px solid #c5c5c5;
	border-top: none;
}
header .down a{
	color: #5e5e5e;
}
header .down li{
	list-style: none;
	display: inline-table;
	padding: 3px 9px;
}
header .down.h_less li:first-child{
	font-weight: bold;
	display: block;
	padding: 4px 0 3px;
}
header .log_list{
	width: 90px;
	right: 517px;
}
header .fav_list{
	width: 78px;
	right: 271px;
}
header .shop_list{
	width: 140px;
	right: 96px;
}
header .shop_list li{
	padding: 0;
	padding: 3px 0;
}
header .shop_list li:nth-child(2n){
	padding-right: 18px;
}
header .shop_list ul{
	width: 120px;
	padding-bottom: 6px;
	margin:0 auto;
	border-bottom: dotted 1px #6c6c6c;
}
header .web_guide{
	right: 1px;
	width: 988px;
}
header .web_guide ul{
	float: left;
	height: 240px;
}
header .web_guide ul:not(:last-child){
	border-right: 1px solid #e8e8e8;
}
header .web_guide li:first-child{
	font-size: 18px;
	margin: .5em 1.3em;
	color: #f80;
}
header .web_guide ul li:not(:first-child){
	width: 5em;
	padding: .6em 1.5em;
}
header .web_guide .sup_n:after{
	content: url(../img/supn.png);
	display: inline-block;
	position: relative;
	top: -.8em;
}
header .web_guide .sup_h:after{
	content: url(../img/suph.png);
	display: inline-block;
	position: relative;
	top: -.8em;
}
.h_more1{
	width: 296px;	
}
.h_more2{
	width: 295px;
}
.h_more3{
	width: 210px;
}
.h_more4{
	width: 175px;
}
.phoneQR{
	width: 170px;
	height: 220px;
	right: 270px;
	box-shadow: 0 0 1px 1px #d5d5d5;
}
.phoneQR:before{
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	margin-top: -14px;
	margin-left: 80px;
	z-index: 1;
	background-color: inherit;
	border-left: inherit;
	border-top: inherit;
	right: 655px;
	transform: rotate(45deg);
}
.phoneQR img{
	width: 150px;
	height: 200px;
	padding: 10px;
}

#search{
 	height: 130px;
 	background-color: #fff;
 }
 #search span{
 	margin-left: -50px;
 }
#s_bar{
 	display: inline-block;
 	margin-left: 100px;
 }
#s_bar input[type="text"]{
	height: 36px;
	border: 2px #c40000 solid;
	text-indent: 6px;
	width: 495px;
	margin-top: -3px;
}
#s_bar input[type="text"]:focus{
	outline: none;
}
#s_bar input[type="button"]{
	width: 130px;
	color: #fff;
	font-size: 16px;
	letter-spacing: 5px;
	height: 36px;
	background-color: #c40000;
	border: 2px #c40000 solid;
	margin-left: -4px;
	box-sizing: content-box;
	vertical-align: bottom;
}
#s_bar input[type="button"]:focus{
	outline-color: #0e6ce7;
}
#search ul{
	margin-top:6px;
}
#search li{
	float: left;
	padding: 0 11px;
	height: 14px;
	line-height: 14px;
	border-left: 1px #a5a5a5 solid;
}
#s_bar ul li:nth-child(2n) a{
	color: #db2a2f;
}
#search li:first-child{
	padding-left: 0;
	border: none;
}
