body,ul,input,img{
	margin: 0;
	padding: 0;
}
.xi{
	font-weight: normal;
}
header{
	height: 60px;
	width: 100%;
}
header nav{
	/*margin-left: 790px;*/
	float: right;
}
header nav li{
	list-style: none;
	float: left;
	margin:0 10px;
}
header nav li span>a{
	color: #444444;
	font-weight: bold;
	text-align: center;
	font-size: 13px;
	height: 60px;
	display: block;
	line-height: 60px;
	margin:0 auto;
}
header nav li span>a:hover{
	color: blue;
	cursor: painter;
}
header nav li:last-child{
	width: 60px;
	margin: 0 10px;
}
header nav li:last-child span>a{
	color: white;
	margin: 20px auto;
	height: 20px;
	line-height: 20px;
	text-decoration: none;
	background-color: #3388ff;
	text-align: center;
	z-index: 2;
}
header nav li:last-child:hover span>a{
	color: black;
	height: 60px;
	width: 80px;
	margin-left: -11px;
	margin-top: 0px;
	line-height: 60px;
	border-left: 1px solid #e7e7e7;
	background-color: #f9f9f9;
}
.bar{
	display: none;
}
.right:hover{
	background-color:  #f9f9f9
	border-left: #e7e7e7;
}
#content{
	width: 640px;
	height:450px;
	margin: 30px auto 0;
}
#content #logo{
	width: 216px;
	height: 75px;
	margin: 0 auto;
}
#content #search{
	width: 640px;
	margin-top: 40px;
}
#content #search img{
	width: 35px;
	height: 35px;
}
#content #baidu{
	background-color: #fff;
	border: 1px solid gray;
	height: 40px;
	width: 540px;
	font-size: 20px;
	text-indent: 5px;
	outline: none;
}
#content #btn{
	height: 40px;
	width: 100px;
	font-size: 16px;
	color: #fff;
	background-color: #3385ff;
	border: none;
	float: right;
	margin-top: -40px;
	outline: none;
}
#content #btn:hover{
	background-color: #2335cc;
}
#content #search .pics{
	position: relative;
	top: 10px;
	left: -47px;
	display: inline-block;
}
#content #search .pics:hover{
	cursor: pointer;
}
footer{
	padding-left: 35px;
	width: 640px;
	height: 80px;
	margin: 0 auto;
}
footer .QR{
	float: left;
	width: 140px;
	height: 60px;
	margin-top:5px;
}
footer .QR img{
	width: 60px;
	height: 60px;
	float: left;
}
footer, footer a{
	font-size: 11px;
	color: #7c7c7c;
}
footer .QR ul{
	list-style: none;
	width: 70px;
	float: left;
	padding: 10px 5px;
}
footer .QR li{
	line-height: 20px;
}
footer .QR li:first-child{
	color: #575757;
	font-weight: bold;
}
footer .foot{
	width: 350px;
	float: left;
}
footer .foot ul{
	height: 25px;
}
footer .foot li{
	float: left;
	list-style: none;
	margin-right: 25px;
}
footer .foot img{
	width: 19px;
	height: 19px;
	vertical-align: middle;
	margin: 0 5px;
}
footer p{
	padding-bottom: 8px;
	margin: 0;
}