extends ../layout

append css
  link(rel="stylesheet", href="/components/font-awesome-4.7.0/css/font-awesome.min.css")
  link(rel='stylesheet', href='/css/blog.css')

block main
  block header
    .blog-masthead
      .container
        nav.blog-nav
          if pageName === '/posts'
            a.blog-nav-item.active(href="/") 扶뒬못
          else
            a.blog-nav-item(href="/") 扶뒬못

    .container
      .row
        .col-sm-8.blog-main
          block content
        .col-sm-3.col-sm-offset-1.blog-sidebar
          .sidebar-module.sidebar-module-inset
            h4 About
            p
              em Student from the Ocean University of China

          .sidebar-module
            h4 Archives
            ol.list-unstyled
              each category in categories
                li
                  a(href="/posts/category/" + category.name)=category.name

          .sidebar-module
            h4 Elsewhere
            ol.list-unstyled
              li
                a(href="https://github.com/faremax1992/") GitHub
              li
                a(href="http://blog.csdn.net/faremax/") CSDN
   block footer
    footer.blog-footer
      p copyright: faremax@faremax.com.cn
      p
        a(href="/#") Back to top
