extends ../layout

block content
  h2.page-header 文章列表

  table.table.table-bordered
    thead
      tr
        th 名称
        th 创建时间
        th 管理
    tbody
      each category in categories
        tr
          td
            a(href="/posts/category/" + category.name, target="_blank", title=category.slug)= category.name
          td= moment(category.created).format('YYYY-MM-DD HH:mm:ss')
          td
            a(href="/posts/category/" + category.name, target="_blank", class="btn btn-sm btn-success") 查看
            &nbsp;&nbsp;
            a(href="/admin/categories/edit/" + category._id, class="btn btn-sm btn-info") 编辑
            &nbsp;&nbsp;
            a(href="/admin/categories/delete/" + category._id + "?page=" + pageNum, class="btn btn-sm btn-danger") 删除

  if pageCount > 1
    nav.pager
      ul.pagination.pagination-sm
        if pageNum > 1
          li
            a(href="/admin/posts?page=" + (pageNum - 1) + "&category=" + filter.category + "&sortby=" + sortby + "&sortdir=" + sortdir) &laquo;
        if pageNum > 4
          li
            a(href="javascript:void(0)") ...
        - var currentPage = start
        while currentPage <= end
          if currentPage === pageNum
            li.active
              a(href="/admin/posts?page=" + currentPage + "&category=" + filter.category + "&sortby=" + sortby + "&sortdir=" + sortdir)= currentPage++
          else
            li
              a(href="/admin/posts?page=" + currentPage + "&category=" + filter.category + "&sortby=" + sortby + "&sortdir=" + sortdir)= currentPage++
        if pageNum < pageCount - 3
          li
            a(href="javascript:void(0)") ...
        if pageCount > pageNum
          li
            a(href="/admin/posts?page=" + (pageNum + 1) + "&category=" + filter.category + "&sortby=" + sortby + "&sortdir=" + sortdir) &raquo;

