extends ../layout

append css
  link(rel="stylesheet", href="/components/font-awesome-4.7.0/css/font-awesome.min.css")
  link(rel='stylesheet', href='/css/blog.css')

block main
  block header
    .blog-masthead
      .container
        .row
          .col-xs-9.add-blank
            h1#top.logo FareBlog
            p#slogan A Student In Frond-End
          .col-xs-1.pull-right
            button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar")
              span.sr-only SideBar
              i.fa.fa-circle-o

        nav#navbar.collapse.nav-collapse
          ul.nav.navbar-nav
            li.sub-title 文章分类
            each category in categories
              li
                a(href="/posts/category/" + category.name)= category.name
            li.sub-title 其他链接
            li
              a(href="https://github.com/faremax1992/") GitHub
            li
              a(href="http://blog.csdn.net/faremax/") CSDN

    .container
      .row
        .col-sm-9.blog-main
          block content
        .col-sm-2.col-sm-offset-1.blog-sidebar.hidden-xs
          .sidebar-content#sidebar
            .sidebar-module
              form(methon="get", action="/posts/")
                input.form-control.input-sm(type="search", name="keyword", placeholder="搜索...")

            .sidebar-module
              h4 文章分类
              ol.list-unstyled
                li
                  a(href="/posts") 全部
                each category in categories
                  li
                    a(href="/posts/category/" + category.name)=category.name

            .sidebar-module
              h4 其他链接
              ol.list-unstyled
                li
                  a(href="https://github.com/faremax1992/") GitHub
                li
                  a(href="http://blog.csdn.net/faremax/") CSDN
            .sidebar-footer#sidebar-footer
  block footer
    footer.blog-footer
      p Copyright &copy;
        script document.write(new Date().getFullYear());
        |  Faremax. All Rights Reserved. 鲁ICP备16010776号-1
      p
        a(href="#") 回到顶部
  append scripts
    script(src="/js/blog_layout.min.js")
