body,ul,input,img{
  margin: 0;
  padding: 0;
}
.xi{
  font-weight: normal;
}
header{
  height: 60px;
  width: 100%;
}
header nav{
  /*margin-left: 790px;*/
  float: right;
}
header nav li{
  list-style: none;
  float: left;
  margin:0 10px;
}
header nav li span>a{
  color: #444444;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  height: 60px;
  display: block;
  line-height: 60px;
  margin:0 auto;
}
header nav li span>a:hover{
  color: blue;
  cursor: painter;
}
header nav li:last-child{
  width: 60px;
  margin: 0 10px;
}
header nav li:last-child span>a{
  color: white;
  margin: 20px auto;
  height: 20px;
  line-height: 20px;
  text-decoration: none;
  background-color: #3388ff;
  text-align: center;
  z-index: 2;
}
header nav li:last-child:hover span>a{
  color: black;
  height: 60px;
  width: 80px;
  margin-left: -11px;
  margin-top: 0px;
  line-height: 60px;
  border-left: 1px solid #e7e7e7;
  background-color: #f9f9f9;
}
.bar{
  display: none;
}
.right:hover{
  background-color:  #f9f9f9
  border-left: #e7e7e7;
}
#content{
  width: 640px;
  height:450px;
  margin: 30px auto 0;
}
#logo{
  width: 216px;
  height: 75px;
  margin: 0 auto;
}
#search{
  width: 640px;
  margin-top: 40px;
}
#search .pics img{
  width: 35px;
  height: 35px;
}
#baidu{
  background-color: #fff;
  border: 1px solid gray;
  height: 40px;
  width: 540px;
  font-size: 16px;
  text-indent: 5px;
  outline: none;
}
#btn{
  height: 40px;
  width: 100px;
  font-size: 16px;
  color: #fff;
  background-color: #3385ff;
  border: none;
  float: right;
  margin-top: -40px;
  outline: none;
}
#btn:hover{
  background-color: #2335cc;
}
#search .pics{
  position: relative;
  top: 12px;
  left: -47px;
  display: inline-block;
}
#search .pics:hover{
  cursor: pointer;
}
#upload{
  background: #fff;
  height: 200px;
  width: 540px;
  border: 1px solid #3385ff;
  border-top: none;
  color: #999;
  position: relative;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  display: none;
}
#drag_area strong{
  font-size: 14px;
  padding-top: 35px;
  font-weight: bold;
  display: block;
}
#drag_area{
  box-sizing: border-box;
  font-size: 10px;
  background-color: #f6f6f6;
  height: 110px;
  font-weight: normal;
  cursor: default;
  overflow-y: scroll;
  overflow-x: hidden;
}
#drag_area img{
  width: 510px;
}
#drag_close{
  position: absolute;
  right: 15px;
  width: 20px !important;
  height: 20px !important;
  bottom: 15px;
}
#file_upload{
  display: none;
}
#drag_close{
  cursor: pointer;
}
#click_upload{
  display: inline-block;
  border: 1px solid #ccc;
  width: 100px;
  height: 40px;
}
#click_upload:hover{
  border-color: #3385ff;
}
#click_upload span{
  display: block;
  box-sizing: border-box;
  height: 40px;
  width: 100px;
  position: absolute;
  font-size: 16px;
  line-height: 40px;
  color: #444;
}
#click_upload input{
  position: absolute;
  display: block;
  font-size: 0;
  width: 50px;
  height: 20px;
  outline: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 2;
  zoom: 2;
  cursor: pointer;
}
footer{
  padding-left: 35px;
  width: 640px;
  height: 80px;
  margin: 0 auto;
}
footer .QR{
  float: left;
  width: 140px;
  height: 60px;
  margin-top:5px;
}
footer .QR img{
  width: 60px;
  height: 60px;
  float: left;
}
footer, footer a{
  font-size: 11px;
  color: #7c7c7c;
}
footer .QR ul{
  list-style: none;
  width: 70px;
  float: left;
  padding: 10px 5px;
}
footer .QR li{
  line-height: 20px;
}
footer .QR li:first-child{
  color: #575757;
  font-weight: bold;
}
footer .foot{
  width: 350px;
  float: left;
}
footer .foot ul{
  height: 25px;
}
footer .foot li{
  float: left;
  list-style: none;
  margin-right: 25px;
}
footer .foot img{
  width: 19px;
  height: 19px;
  vertical-align: middle;
  margin: 0 5px;
}
footer p{
  padding-bottom: 8px;
  margin: 0;
}
