extends layout

block content
  h2.page-header
    if category.name
      = category.name + '(' + totalLen + ')'
  if messages
    p.alert.alert-error= messages.error
  each post in posts
    div.post
      h3.post-title
        a(href="/posts/view/" + post._id, target="_blank")
          =post.title
      .row
        .col-sm-3.col-xs-12
          div.list-meta
            span.post-created
              i.fa.fa-clock-o &nbsp;
              =moment(post.created).format('YYYY-MM-DD')
            span.post-category
              i.fa.fa-list &nbsp;
              a(href="/posts/category/" + post.category.name, target="_blank")
                =post.category.name
            span.post-comments-favourite
              span.post-comments
                i.fa.fa-comment &nbsp;
                =post.comments.length || 0
              span.post-favourite
                i.fa.fa-star &nbsp;
                =post.meta.favourites  || 0
        .col-sm-9.col-xs-12
          div.post-abstract
            !=truncate(post.summary, 160)

  if pageCount > 1
    nav.pager
      ul.pagination.pagination-sm
        if pageNum > 1
          li
            a(href="/posts/category/" + category.name + "?page=" + (pageNum - 1)) &laquo;
        if pageNum > 4
          li
            a(href="javascript:void(0)") ...
        - var currentPage = start;
        while currentPage <= end
          if currentPage === pageNum
            li.active
              a(href="/posts/category/" + category.name + "?page=" + currentPage)= currentPage++
          else
            li
              a(href="/posts/category/" + category.name + "?page=" + currentPage)= currentPage++
        if pageNum < pageCount - 3
          li
            a(href="javascript:void(0)") ...
        if pageCount > pageNum
          li
            a(href="/posts/category/" + category.name + "?page=" + (pageNum + 1)) &raquo;


