extends ../layout

block content
  h2.page-header 添加分类

  if errors && errors.length
      div.errors
        each error in errors
          p.alert.alert-danger= error.msg

    form.vertical-form(method="post", action=action)
      div.form-group
        label(for="name") 名称
        input.form-control(name="name", value=category.name)

      button.btn.btn-success(type="submit")= post ? '保存分类' : '添加分类'
