extends layout

block main
  //- canvas(id="status",width="400px",height="200px")
  h1= message
  h2= error.status
  pre #{error.stack}

append js
  script(src="/js/particle.min.js")
  script(src="js/error.min.js")
