extends layout

append css
  link(rel="stylesheet", href="/css/home.css")

block main
  div#pc-bg.hidden-xs
   img.pc-bg-img(src='img/bg_1.png')
   img.pc-bg-img(src='img/bg_2.png')
   img.pc-bg-img(src='img/bg_3.png')
   img.pc-bg-img(src='img/bg_4.png')
  div#bg
    div#wrapper
      h1 FAREMAX
      h2 Hold the Passion & Modesty in Daily Coding
      nav
        ul
          li.list
            a(href="/posts") Blog
          li.list
            a(href="https://github.com/faremax1992/") Github
          li.list
            a(href="http://blog.csdn.net/faremax/") CSDN

append scripts
  script(src="/js/home.min.js")



